$fb-orange: #fba216;
$fb-blue: #57859d;
$fb-green: #899639;
$fb-purple: #97579d;
$fb-red: #e64b4b;
$fb-beige: #9d8f57;
$fb-grey: #555;
// $fb-error: #c70000;
$fb-error: #ce7506;

$primary:       $fb-orange !default;

$font-family-serif:     'Playfair Display', Georgia, "Times New Roman", Times, serif !default;
$font-family-sans-serif:     'Signika', Helvetica, Arial, sans-serif !default;
$font-family-base:       $font-family-serif !default;
$headings-font-family:   'Playfair Display' !default;
